.menuBar{
    background-color: #ffc107;
}

.menuBar span{
    font-size: 20px
}

.imgTam{
    width: 5%
}

.barraIzq{
    background-color: #e5e6e8;
}

.colorBoton{
    background-color: #cce5ff;
}

.carrito:checked{
    border-color: blue;
}

.tamanyoBadge{
    font-size: 10px !important;
}